@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<InputText @bind-Value="_name" placeholder="Enter your name"/>

@if (!string.IsNullOrEmpty(_name))
{
    <p>Welcome, @_name!</p>
}

<StreamRender/>

@code{

    string _name = string.Empty;

}