@page "/test"
@rendermode InteractiveServer

<h3>Test</h3>

<h5>@_message</h5>

<button type="button" @onclick="Click">Click me</button>

@code {
    private string _message = "Init";


    private void Click()
    {
        _message = _message == "Init" ? "Clicked" : "Init";
    }


}