@page "/"
@using Frontend.Services
@inject TestService TestService

@if (_message == null)
{
    <p>Loading...</p>
}
else
{
    <p>@_message</p>
}

@code {
    private string? _message;

    protected override async Task OnInitializedAsync()
    {
        var response = await TestService.Get();
        _message = response.Text;
    }
}